nav ul{
    display: flex;
    list-style: none;
    background-color: #38023B;
    padding: 2em;
    border-radius: 1em;
    justify-content: center;
}
h1{
    color: #fff;
}

nav ul li{
    background-color: silver;
    padding: 1em;
    margin-right: 1em;
    border-radius: 2em;
}

body{
    background-color: #353A47;
    font-family: 'Josefin Sans',Verdana,Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    width: 99%;
    align-items: center;
}

button{
    margin-top: 1em;
}

.background{
    background-color: #353A47;
}

.stageCenter {
    display: flex;
    flex-direction: column;
    width: 60%;
    border-radius: 1em;
    background-color: #fff;
    align-items: center;
}

.stageCenter img {
    max-width: 30%;
    margin-left: 1.2em;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 606px;
    height: 606px;
}
.square{
    width: 200px;
    height: 200px;
    border: solid black 1px;
}
.mole{
    background-image: url("../WackAMole/images/mole.PNG");
}

/*Breakout lines*/

.breakoutGrid{
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
    margin-top: 80px;
}

.block{
    position:absolute;
    width: 100px;
    height: 20px;
    background-color: aqua;
}

.user{
        position:absolute;
        width: 100px;
        height: 20px;
        background-color: silver;
}
.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
}